@keyframes slide-up {
  0% { transform: translateY(0); }
  25% { transform: translateY(-100%); }
  50% { transform: translateY(-200%); }
  75% { transform: translateY(-300%); }
  100% { transform: translateY(0); }
}

.animate-slide-up {
  animation: slide-up 12s ease-in-out infinite;
}
@keyframes slide-down {
  0% { transform: translateY(0); }
  25% { transform: translateY(100%); }
  50% { transform: translateY(200%); }
  75% { transform: translateY(300%); }
  100% { transform: translateY(0); }
}